/* Home.css */
body {
  background-image: url('./src/assets/fondoHospital2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-container { 
  background-color: rgba(64, 64, 64, 0.394);
    padding:20px;
    margin: 0 auto;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about-section {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .home-sections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .services-section,
  .contact-section {

    background-color: #012a568d;
  
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    min-width: 250px;
    text-align: center;
  }
  
  .home-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .home-link:hover {
    background-color: #bccdde;
  }
  