.container {
  background-color: rgba(64, 64, 64, 0.394);
  padding: 20px;
  margin-bottom: 30px;
  height: -webkit-fill-available;
}

.home-sections {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
