 .filter-form div {
    display: flex;
    flex-direction: column;
}
  
.filter-form label {
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
    
}
  
.filter-form input,
.filter-form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  

